/* Reset do css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Declara variáveis na raiz */
:root {
	--vermelho: #e50914;
	--preto: #141414;
	--branco: #f5f5f1;
	--cinza: #aaa;
	--info: #6d6d6eb3;
}

body {
	background: var(--preto);
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

h2 {
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
	color: var(--vermelho);
	margin-left: 10px;
}

header nav a {
	text-decoration: none;
	cursor: pointer;
	color:var(--branco);
	margin-right: 10px;
}

header nav a:hover{
	color: var(--cinza);
	transition: color .4s;
    transition-property: color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

header .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* Filme principal */
main .filme-principal {
	background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../assets/capaanim.jpeg');
	height: 400px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.container {
	margin-left: 30px;
}

.filme-principal .container {
	width: 80%;
	margin-bottom: 3%;
}

main .container img{
	width: 344px; 
	opacity: 1;
	margin-top: 10%;
}

main .container .sinopse{
	color: #fff;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
	line-height: normal;
	width: 100%;
	font-size: 0.8rem;
	text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
	margin-top: .1vw;
}

.populares {
	color: white;
	display: table-cell;
	vertical-align: bottom;
	line-height: 1.25vw;
	font-size: 1.4vw;
	font-weight: 700;
	font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.owl-dots {
	display: none;
}

main .container .buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

button {
	appearance: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	opacity: 1;
	padding: 0.7rem;
	margin-right: 1rem;
	font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 20%;
	font-size: 1.2vw;
	font-weight: bold;
	
}

main .btn {
	background-color: white;
  color: black;
	outline: none;
	justify-content: center;
	
}

.btn:hover {
	opacity: 0.6;
	transition: opacity .4s;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

main .btn-info {
	margin: 0 0 0 10px;
	background-color: var(--info);
	outline: none;
	color: white;
	
}

.btn-info:hover{
	opacity: 0.6;
	transition: opacity .4s;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease;
	transition-delay: 0s;
}

.box-filme {
	height: 100%;
	width: 100%;
	display: block;
}